doctype html
html(lang="en")
    head
        title Technobabble.io
        link(rel="stylesheet" href="./public/css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="https://kit.fontawesome.com/e8b73d85f5.js")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="./public/js/UI.js")
    body
        div#content
            div#wrapper
                div.post
                div.post
                footer#footer.footerDefault
                    div.socialLinks
                        span.socialText Find us on: 
                        span#facebook.fab.fa-facebook-f.socialLink
                        span#twitter.fab.fa-twitter.socialLink
                        a(href="https://www.instagram.com/technobabble.io/")
                            span#instagram.fab.fa-instagram.socialLink
                        span#github.fab.fa-github.socialLink